.grid-column {
    justify-content: center;
    float: left;
    display: flex;
    width: 33.33%;
    height: auto;

}

.grid-column img {
    width: 12.5em;
    height: auto;
    display: block;

}

/* Clear floats after the columns */
.grid-row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .grid-column {
        width: 100%;
    }
}